.logo {
  font-family: $accent-font;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.173;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;

  &__name {
    color: $accent-color;
  }
  &__footer {
    padding: 0;
  }
}
