@media screen and (min-width: 1200px) {
}

.service {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &__heading {
    display: none;
  }
}

.service-list {
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__item {
    width: 450px;
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background-color: $background-light-color;
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
  &__text {
    color: $text-color;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 0px;
    }
  }
}
