.what-we-do {
  padding-bottom: 94px;

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.171;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
  }
}

.work-list {
  display: flex;
  &__item {
    position: relative;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    height: 70px;
    color: $white-color;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
