$accent-color: #2196f3;
$white-color: #ffffff;
$main-text-color: #212121;
$text-color: #757575;
$background-dark-color: #2f303a;
$background-light-color: #f5f4fa;
$icons-color: #afb1b8;

$main-font: Roboto, sans-serif;
$accent-font: Raleway, sans-serif;
